.black-bg {
    width : 100%;
    /* height : 100%; */
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    /* display: none; */
    /* opacity: 0; */
    transition : all 1s; /* 모든 css 스타일을 1초 정도 걸리게 해달라 */
    height: 0px;
    /* 애니메이션 줄 때, display:none 대용 */
    visibility: hidden; 

    /* display:none -> 아예 html에서 사라짐, visibility : hidden -> 그냥 화면에서 안보여지는 효과 */     
  }
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  } 

  .show-modal {
    /* opacity: 1; */
    visibility: visible;
    height: 400px;
  }

  .my-3{
    margin-bottom: 10px;
  }